.avsnitt {
  width: 100%;
  position: relative;

  border: 1px solid gray;
  padding: 0 1rem;

  &:hover, &:focus {
    #tooltip {
      visibility: visible;
    }
  }
}

#tooltip {
  visibility: hidden;
  position: absolute;
  top: -2.2rem;
  right: 0;
  padding: .25rem .5rem;
  font-size: 1rem;
  background-color: black;
  color: antiquewhite;
  border-radius: 6px;

  .tooltip-content {
    position: relative;
  }

  .arrow {
    transform: rotate(45deg);
    width: .5rem;
    height: .5rem;
    position: absolute;
    background-color: black;
    bottom: -0.5rem;
    left: calc((100% - .5em) * 0.5)
  }
}

#tekst {
  position: absolute;
  opacity: 0;
}
